//Override bootstrap and font-awesome fonts path

// @ifdef DEV
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// @endif
// @ifdef PROD
$icon-font-path: "../fonts/bootstrap/";
$fa-font-path: "../fonts/font-awesome/";
// @endif

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

@import "../script/home/home";
